/* nano-t.css v1.0.0 | MIT License | github.com/zoxon/nano-t.css */
html,
body {
  padding: 0;
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: #212529;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscal;
}
@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: normal;
  font-weight: bold;
  margin: 1em 0 0.5em;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
h1 {
  font-size: 2.35em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}
a {
  color: #4263eb;
  text-decoration: underline;
  transition: 125ms color ease-out;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
a:visited {
  color: #9c36b5;
}
a:hover,
a:focus,
a:active {
  color: #3b5bdb;
  text-decoration: none;
}
ol,
ul {
  padding-left: 2em;
}
@media (max-width: 382px) {
  ol,
  ul {
    padding-left: 0;
    list-style-position: inside;
  }
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1em;
  padding-left: 1em;
  margin-left: 0;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
q {
  font-style: italic;
}
:lang(ru) > q {
  quotes: "«" "»" "„" "“";
}
:lang(en) > q {
  quotes: "‘" "’" "“" "”";
}
small,
sub,
sup {
  font-size: 75%;
}
img {
  max-width: 100%;
}
mark,
kbd,
code {
  display: inline-block;
  padding: 0 4px;
  border-radius: 3px;
  vertical-align: middle;
}
kbd {
  background-color: #222;
  color: #fff;
}
mark {
  background-color: #4263eb;
  color: #fff;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: none;
  border-top: 1px solid #adb5bd;
}
blockquote {
  font-style: italic;
  margin: 1em;
  padding-left: 1em;
  border-left: 3px solid #e9ecef;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child {
  margin-top: 0;
}
blockquote footer,
blockquote small {
  display: block;
  font-size: 80%;
}
blockquote footer:before,
blockquote small:before {
  content: "\2014 \00A0";
}
pre,
code {
  overflow: hidden;
  background-color: #e9ecef;
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 4;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}
pre {
  display: block;
  padding: 1em;
  border-radius: 2px;
}
code {
  font-size: 0.9em;
  padding: 0 0.5em;
}
pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #e9ecef;
}
