html,
body {
  padding: 0;
  height: 100%;
}

html {
  font-family: var(--font-primary);
}

body {
  font-size: var(--font-size-md);
  line-height: 1.618;
  color: var(--text-primary);
  background-color: var(--fill-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscal;
}
