html,
body {
  padding: 0;
  height: 100%;
}

html {
  font-family: var(--font-primary);
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-primary);
  background-color: var(--fill-primary);
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  hanging-punctuation: first;
}
