pre
code
	overflow hidden
	background-color oc-gray-2
	white-space pre-wrap
	word-wrap break-word
	tab-size 4
	font-family $base-mono-font-family

pre
	display block
	padding 1em
	overflow-x auto
	border-radius 2px

code
	font-size 0.9em
	padding 0 0.5em
	white-space pre-wrap

pre > code
	padding 0
	background-color transparent
	white-space pre
