pre,
code {
  overflow: hidden;
  background-color: var(--text-gray);
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 4;
  font-family: var(--base-mono-font-family);
}

pre {
  display: block;
  padding: 1em;
  border-radius: 2px;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
}
