a
	color var(--link-color)
	text-decoration underline
	transition 125ms color ease-out
	hyphenate()

	&:visited
		color var(--link-color-visited)

	&:hover
	&:focus
	&:active
		color var(--link-color-active)
		text-decoration none
