a
	color $link-color
	text-decoration underline
	transition 125ms color ease-out
	hyphenate()

	&:visited
		color $link-color-visited

	&:hover
	&:focus
	&:active
		color $link-color-active
		text-decoration none
