:root
	--base-font-family $base-font-family
	--base-font-size $base-font-size
	--base-text-color $base-text-color
	--base-background-color $base-background-color
	--base-mono-font-family $base-mono-font-family
	--heading-font-family $heading-font-family
	--link-color $link-color
	--link-color-visited $link-color-visited
	--link-color-active $link-color-active
	--text-gray oc-gray-2
