:root {
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;

  /* Font */
  --font-size-md: 1.6rem;
  --line-height: 1.618;
  --font-accent: var(--font-primary);

  /* Fill */
  --fill-primary: #fff;

  /* Text Color */
  --text-primary: #212529;
  --text-accent-primary: #4263eb;
  --text-accent-secondary: #9c36b5;
  --text-accent-tertiary: #3b5bdb;
  --text-gray: #e9ecef;
  --text-gray-dark: #adb5bd;
}
