
p
	margin-top 1em
	margin-bottom 1em

i
em
	font-style italic

b
strong
	font-weight bold

q
	font-style italic

// https://en.wikipedia.org/wiki/Quotation_mark#Summary_table
:lang(ru) > q
	quotes "«" "»" "„" "“"

:lang(en) > q
	quotes "‘" "’" "“" "”"

small
sub
sup
	font-size 75%

img
	max-width 100%

mark
kbd
code
	display inline-block
	padding 0 4px
	border-radius 3px
	vertical-align middle

kbd
	background-color var(--base-text-color)
	color #fff

mark
	background-color var(--link-color)
	color #fff

hr
	display block
	margin 1em 0
	padding 0
	height 1px
	border none
	border-top 1px solid oc-gray-5
