@import "open-color/open-color"

// Fonts
// https://css-tricks.com/snippets/css/system-font-stack/
system = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
mono = Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace

// Base
$base-font-family = system
$base-font-size = 1.8rem
$base-text-color = #212529
$base-background-color = #fff
$base-mono-font-family = mono

// Headings
$heading-font-family = system

// Link
$link-color = oc-indigo-7
$link-color-visited = oc-grape-8
$link-color-active = oc-indigo-8
